//complete adaptation
@media (max-width:1199px) {
	.container {
		width: 80%;
		
	}
	.tns-item {
		img {
			width: 70%;
		}
	}
	.reviews {
		min-height: 860px;
		padding: 20px 30px;
		&__block {
			margin-top: 40px;
		}
		&-item {
			width: 100%;
			margin-bottom: 20px;
			&__descr {
				margin-top: 10px;
				width: 70%;
			}
			&__text {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}
//complete adaptation
@media (max-width: 991px) {
	.container {
		width: 100%;
		
	}
	.promo {
	   
		.header {
			justify-content: space-evenly;
		}
		
		&__wrapper {
			align-items: center;
		}
	}
	.advantages {
		padding: 0 5px;
		&__descr {
			font-size: 12px;
		}
		&__items {
			width: 31%;
		}
	}
	.consultation {
		padding: 100px 0 105px 50px;
		.title {
			font-size: 30px;
			line-height: 38px;
		}
	}
	.carusel {
		padding: 25px 5px;
		.slick-prev, .slick-next {
			left: 10px;
			img {
				width: 10px;
				height: 20px;
			}
		}
		.slick-next {
			right: 10px;
			left: auto;
		}
		.tns-item {
			img {
				width: 70%;
			}
		}
	}
	.catalog {
		&__content {
			justify-content: space-around;
		}
	}
	.reviews {
		min-height: 860px;
		padding: 20px 30px;
		&__block {
			margin-top: 20px;
		}
		&-item {
			width: 100%;
			margin-bottom: 20px;
			&__descr {
				margin-top: 10px;
				width: 70%;
			}
			&__text {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}

//complete adaptation except modal
 @media (max-width: 767px) {   
	.promo {
		.header {
		   &__official {
			   display: none;
		   }
		}
		&__header {
			font-size: 38px;
		}
		&__subheader {
			font-size: 20px;
		}
	}
	.advantages {
		padding: 40px 0 50px 0;
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__items {
			width: 85%;
		}
		&__subtitle {
			font-size: 22px;
		}
		&__descr {
			font-size: 16px;
		}
	}
	.consultation {
		padding: 80px 0 80px 30px;
		&__descr {
			margin-top: 20px;
			font-size: 20px;
			line-height: 25px;
		}
		.title {
			font-size: 24px;
			line-height: 38px;
		}
	}
	.carusel {
		padding: 25px 5px;
		.slick-prev, .slick-next {
			left: 10px;
			img {
				width: 10px;
				height: 20px;
			}
		}
		.slick-next {
			right: 10px;
			left: auto;
		}
		.tns-item {
			img {
				width: 70%;
			}
		}
	}
	.catalog {
		padding: 20px 10px;
		.title {
			font-size: 25px;
		}
		&__content {
			padding: 0 25px;
			// justify-content: center;
		}
		&__tabs {
			margin-top: 20px;
		}
		&__tab {
			width: 30%;
			font-size: 11px;
			line-height: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.reviews {
		min-height: 860px;
		padding: 20px 30px;
		&__block {
			margin-top: 20px;
		}
		&-item {
			width: 100%;
			margin-bottom: 20px;
			&__descr {
				margin-top: 10px;
				width: 70%;
			}
			&__text {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
 }

 // complete adaptation except modal
 @media (max-width: 575px) {
	.promo {
		.header {
			&__logo {
				width: 50%;
			}
			&__phone {
				font-size: 14px;
		
			}
			.button {
				width: 127px;
				height: 30px;
				font-size: 12px;
			}
		}
		&__header {
			font-size: 24px;
		}
		&__subheader {
			margin-top: 10px;
			font-size: 13px;
		}
		&__icons {
			width: 95%;
		}
		&__icon {
			font-size: 12px;
		}
		.button_main {
			width: 250px;
			height: 45px;
		}
		&__link {
			margin: 5px 0 0 20px;
		}
	}
	.consultation {
		padding: 50px 10px 50px 10px;
		min-height: 545px;
		&__descr {
			margin-top: 20px;
			font-size: 15px;
			line-height: 25px;
		}
		.title {
			font-size: 20px;
			line-height: 25px;
			text-align: center;
		}
	

	}
	.carusel {
		padding: 25px 5px;
		.slick-prev, .slick-next {
			left: 10px;
			img {
				width: 10px;
				height: 20px;
			}
		}
		.slick-next {
			right: 10px;
			left: auto;
		}
		.tns-item {
			img {
				width: 70%;
			}
		}
	}
	.catalog {
		padding: 20px 10px;
		.title {
			font-size: 25px;
		}
		&__content {
			padding: 0 25px;
			justify-content: center;
		}
		&__tabs {
			margin-top: 20px;
		}
		&__tab {
			width: 30%;
			font-size: 11px;
			line-height: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.reviews {
		padding: 20px 10px;
		&__block {
			margin-top: 20px;
		}
		&-item {
			width: 100%;
			flex-direction: column;
			margin-bottom: 20px;
			&__photo {
				margin: 0 auto;
				width: 100px;
				height: 100px;
				img {
					width: 100%;
				}
			}
			&__descr {
				margin-top: 10px;
				width: 100%;
			}
			&__name, &__sum {
				text-align: center;
			}
			&__text {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	.footer {
		min-height: 450px;
		address {
			font-size: 21px;
			line-height: 20px;
		}
		&__info {
			position: relative;
			margin: 0 auto;
			padding: 25px;
			width: 100%;
			min-height: 250px;
		}
		&__map {
			padding: 10px;
			iframe {
				height: 320px;
			}
		}
	}
 }
