@import 'base/_variables.scss';


*   {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    width: 950px;
    margin: 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_title.scss';
@import 'blocks/_advantages.scss';
@import 'blocks/_consultation.scss';
@import 'blocks/_forms.scss';
@import 'base/_media.scss';