@import 'base/_variables.scss';


*   {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    width: 950px;
    margin: 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_title.scss';
@import 'blocks/_advantages.scss';
@import 'base/_media.scss';
// .promo {
//     &__wrapper {
//         width: 550px;
//     }
//     &__icon {
//         width: 45px;
//         height: 45px;
//         img {
//         display: block;
//         width: 100%;
//         }
//     }
//     &__icons {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         // flex-direction: column;
//     }
// }
