@import 'base/_variables.scss';


*   {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    position: relative;
    width: 950px;
    margin: 0 auto;
}

.pageup {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    animation: 0.2s all;
    i {
        color: $main_color;
        font-size: 40px;
    }
}




@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_title.scss';
@import 'blocks/_advantages.scss';
@import 'blocks/_consultation.scss';
@import 'blocks/_forms.scss';
@import 'blocks/_carusel.scss';
@import 'blocks/_catalog.scss';
@import 'blocks/_reviews.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_modals.scss';
@import 'base/_media.scss';
@import 'base/_animation.scss';

