.button {
    width: 153px;
    height: 32px;
    background: $main_color;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
    &:hover {
        background-color: rgb(230, 141, 9)
    }
    &_main {
        margin-top: 67px;
        width: 303px;
        height: 54px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 54px;
        font-size: 16px;
        margin-top: 0;
    }
    &_mini{
        width: 135px;
        height: 44px;
    }
}