.feed-form { 
    margin-top: 36px;    
    display: flex;
    flex-direction: column;
    width: 303px; 
    input {
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;
        color: #4B4B4B;
        height: 54px;
        border-radius: 5px;
        border: none;
        background-color: #fff;
        margin-bottom: 11px;
        &:last-of-type {
            margin-bottom: 17px;
            }
    }
}